<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zafirstojanovski.morty">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/realistic_evil_morty"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/realistic_evil_morty"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".AskMorty.MortyIntentService"
            android:exported="false" />
        <service
            android:name=".RoomPersistance.SaveMessageIntentService"
            android:exported="false" />
        <service
            android:name=".GetUserId.UserIdIntentService"
            android:exported="false" />
        <service
            android:name=".FlaskDatabase.SaveToFlaskIntentService"
            android:exported="false" />
        <service
            android:name=".FlaskDatabase.LoadFromFlaskIntentService"
            android:exported="false"></service>
    </application>

</manifest>